@import url('https://fonts.googleapis.com/css?family=Roboto|Balsamiq+Sans');

body {
    background-color: white;
    /* font-family: "Balsamiq Sans", Arial, sans-serif; */
    font-family: 'Luxurious Roman', cursive;
    margin-top: 20px;
}
#content {
    margin: 0 auto;
    max-width: 700px;
}
header {
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.30);
    background-color: purple;
    font-family: "Roboto" , Arial, Helvetica;
    padding: 1em;
    color: whitesmoke;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.20);
}
header img {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

main {
    font-size: 22px;
    margin-left: 20px;
}
.linklist ul li {
    padding: .2em;
    font-size: 20px;
}
ul {
    border-top-style: groove;
    border-bottom-style: groove;
    padding: 1em;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: purple;
    font-family: "Roboto" , Arial, Helvetica;
    color: whitesmoke;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.20);
    padding: 1em;
    justify-items: center;
}
.copyrigth {
    grid-column: 1/3;
    text-align: center;
}
.lastupdated {
    grid-column: 1/3;
    font-size: 10px;
    color:lightblue;
}