table {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    width: auto;
}
body {
    margin-top: 2em;
    
}
th, td {
    padding: .3em;
    border: solid 1px gray;
}

thead tr:nth-child(1) {
    color: black;
    background-color: #7FB9C2;
    font-size: 24px;
}
thead tr:nth-child(2) {
    color: white;
    background-color: #628ca6;
}
tbody tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}
tbody tr {
    background-color: lightgrey;
}
tbody tr:nth-child(even) {
    background-color: lightblue;
}
tfoot td {
    font-size: 12px;
}
tfoot tr {
    background-color: #7FB9C2;
}
