/* home page */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
main img {
    max-width: 100%;
}
header {
    position: relative;
    background-color: #00213D;
    color: #F4F9FC;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    padding: 1em;
    margin-bottom: 1em;
}
header h1 {
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
header h2 {
    font-size: 12px;
    font-family: 'Merriweather', serif;
}
.logo img {
    width: 70px;
    margin: .7em;
    grid-column: 1/2;
}
.hotelName {
    grid-column: 2/3;
    margin-right: 1em;
    align-self: center;
}
.social {
    grid-column: 3/4;
    align-self: center;
}
.nav {
    grid-column: 3/4;
    align-self: center;
}
.social img {
    width: 35px;
}
/* weather banner */
.banner {
    display: none;
    text-align: center;
    background-color: #3D6481;
    margin: 0;
    padding: .5em;
}
.banner.active {
    display: block;
}
.banner p {
    color:#F7F7F7;
    font-size: 17px;
}
#closeButton {
    position: absolute;
    right: 5px;
    top: 20px;
    color: #F7F7F7;
    background-color: #3D6481;
    border: none;
    font-size: 30px;
}
#closeButton:hover {
    cursor: pointer;
}
/* Nav style */
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: 1px solid #eee;
    font-size: 2rem;
    color: #F4F9FC;
    position: absolute;
    right: 5px;
    top: 45px;
}
nav {
    background-color: #00213D;
    grid-column: 1/5;
}
nav ul {
    
    display:flex;
    justify-content: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block; 
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4F9FC;
    border-top: 1px solid #F4F9FC;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 1.2em;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
} 
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
nav button.open {
    border: 1px solid #00213D;
}
#hamburguerButton span:nth-child(1) {
    display: block;
}
#hamburguerButton span:nth-child(2) {
    display: none;
}
#hamburguerButton.open span:nth-child(1) {
    display: none;
}
#hamburguerButton.open span:nth-child(2) {
    display: block;
}
nav ul.open {
    display: block;
  }
/*nested Menu*/
#navBar li #nestedNav { 
    display: none;
    position: relative;
    min-width: 140px;
    background-color: #00213D;
}
#navBar li:hover > #nestedNav {
    display: block;
    box-shadow: none;
    border: none;
}

#navBar li #nestedNav li {
    position: relative;
    font-size: .8rem;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}

#navBar li #nestedNav a:hover {
    font-size: 1rem;
}
/* main */
main {
    color: #F4F9FC;
}
#indexMain {
    display: grid;
    grid-gap: 1em;
}
main div {
    background-color: #3D6481;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.20);
}
#indexMain div picture img {
    padding-top: 2em;
}
#indexMain .hero {
    box-shadow: none;
}
/*hero */
.hero {
    position: relative;
    text-align: center;
    background-color: transparent;
}
.hero h2 {
    color: #F4F9FC;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 30px;
    left: 20px;
}
.hero img {
    width: 100%;
    height: 100%;
}
#joinButton {
    color:#F4F9FC;
    background-color: #00213D;
    border-color: #F4F9FC;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    bottom: 20px;
    right: 15px;
    border-radius: 8px;
}
#joinButton:hover {
    color: #00213D;
    background-color: #F4F9FC;
    border-color: #00213D;
}
.hero button:hover {
    font-size: 18px;
}
h2 {
    font-family: 'Merriweather', serif;
    color: #F4F9FC;
    text-shadow: 2px 2px #00213D;
}
h3 {
    color: #00213D;
    font-size: 20px;
    font-style: italic;
}
.templeInfo {
    padding: .7em;
}
.templeInfo h3 {
    color: #F4F9FC;
    text-shadow: 2px 2px #00213d;
    font-size: larger;
}
.aboutUs,
.amenitiesMain,
.servicesMain {
    padding: 1em;
}
#join2button {
    color:#F4F9FC;
    background-color: #00213d;
    border-color: #F4F9FC;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    width: 80%;
}
#join2button:hover {
    color: #00213d;
    background-color: #F4F9FC;
    border-color: #00213d;
}
.reservationButton {
    text-align: center;
}
/* info buttons */
#infoButton1, 
#infoButton2 {
    text-decoration: none;
    color:#F4F9FC;
    background-color: #00213d;
    border-color: #F4F9FC;
    padding: 15px 25px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 1em;
    width: 50%;
}
#infoButton1:hover, 
#infoButton2:hover {
    color: #00213D;
    background-color: #F4F9FC;
    border-color: #00213d;
}
/* weather */
.weather {
    width: 350px;
    justify-self: center;
}
.weather p {
    font-size: 35px;
}
.weather img {
    margin-left: 1em;
    float: left;
    width: 90px;
}
.weather figcaption {
    margin-top:55px;
    margin-bottom:55px;
    font-size: 30px;
}
#current-temp {
    font-size: 35px;
}
.weather figcaption {
    /* border-bottom: 1px solid #F4F9FC; */
    margin: 1em;
}
.weather .weekWeather img {
    position: relative;
    top: -30px;
}
.weekWeather p:nth-child(1),
.weekWeather p:nth-child(4),
.weekWeather p:nth-child(7) {
    border-top: 1px solid #F4F9FC;
    padding-top: .5em;
}
/* Temples page */
.dirBox h1{
    color: #00213D;
    font-family: 'Merriweather', serif;
    padding: .5em;
    font-size: 30px;
}
.dirBox img {
    width: 90%;
}
.cardSection h3 {
    font-size: 15px;
    color: #F4F9FC;
}
.cards {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5em;
}
.cardSection {
    border: 1px solid #F4F9FC;
    padding: .5em;
}
/* footer */
footer {
    background-color: #00213D;
    color: #F4F9FC;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}
.logoFooter img {
    width: 150px;
    margin-right:auto;
    margin-left:auto;
    display: block
}
.myInfo {
    border-top: 1px solid #F4F9FC;
}
.myInfo a {
    color: #F4F9FC;
    text-decoration: none;
    padding: .7em;
    margin: 14px 0;
}
.myInfo a:hover {
   font-size: inherit;
   text-decoration-line:underline;
}
footer .footerSocial {
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
}
footer .footerSocial img {
    width: 50px;
    margin-bottom: 1em;
}
iframe {
    padding: .5em;
    width: 80%;
}
/* reservation */
#joinH1 {
    text-align: center;
}
/* reservation form */
#mainJoin {
    padding: .5rem;
}

#mainJoin h1 {
    text-align: center;
    color: #00213D;
}
#mainJoin fieldset {
    margin: 1rem 0;
    padding: 1rem 2%;
    border: #00213D solid 5px;
    background-color: lightgray;
    overflow: auto;
}
form label.primary{
    display: block;
    padding-top: 1rem;
    color: #191924;
    width: 100%;
    max-width: 20rem;
}
form label.primary input, form label.primary select, form textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(255, 255, 255);
    border: none;
}
form label.secondary {
    display: block;
    padding: .75rem 0;
    color: #191924;
}
form legend {
    padding: 1rem;
    margin: 0;
    color: #191924;
}
.submitBtn {
    margin: auto;
    padding: 2rem;
    border: none;
    border-radius: 15px;
    background: #00213D;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px #2b3131;
    cursor: pointer;
    border: 1px solid #00213D;
}
.submitBtn:hover {
    color: #00213D;
    background-color: white;
}
form label.primary input:required {
    border: none;
    border-left: darkred solid 5px;

}
form label.primary input:required:valid {
    border: none;
    border-left: green solid 4px;

}
#formMainDiv input, 
#formMainDiv textarea,
#title.primary,
#date.primary,
#number.primary {
    max-width: 90%;
}
/* thank you page */
.thankMain {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: center;
    padding: 4rem 0.8rem;
    color: #F4F9FC;
    background-color: #3D6481;
}
.thankMain h1 {
    margin: 0;
    font-size: 2rem;
    color: #F4F9FC;
}
.thankMain p, .thankMain h2 {
    font-size: 1.5rem;
}
/* reception page */
#mainReception h3 {
    color: #F4F9FC;
    text-shadow: 2px 2px #00213d;
}
#mainReception {
    padding: 1em;
}
#mainReception img {
    width: 90%;
    max-width: 500px;
}
#mainReception figure {
    margin: 0;
}
#mainReception h1 {
    color: #00213D;
    font-family: 'Merriweather', serif;
    padding-bottom: 0.5em;
    font-size: 30px;
}
.reception {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}
/* missionary page */
#mainMissionary h1 {
    color: #00213D;
    font-family: 'Merriweather', serif;
    padding: 0.5em;
    font-size: 30px;
}
#mainMissionary h3 {
    color: #F4F9FC;
    text-shadow: 2px 2px #00213d;
    padding: 1em;
}
#mainMissionary ul li {
    list-style: none;
}
#mainMissionary ul {
    padding-left: 0;
}
#mainMissionary img {
    width: 90%;
}
#mainMissionary figure {
    margin: 0;
}
.rooms div {
    width: 100%;
}
/* services page */
.servicesMain1 h2{
    color: #00213D;
    text-shadow: none;
    font-family: 'Merriweather', serif;
    padding: 0.5em;
    font-size: 30px;
    margin: 0;
}
.servicesMain1 img {
    width: 90%;
    margin-top: 1em;
}
.servicesMain1 ul li {
    list-style: none;
    padding: .3em;
}
.servicesMain1 ul {
    padding-left: 0;
}
.servicesMain1 {
    padding: 0;
}